.left-col {
    border-right: 1px solid #cfd2f3;
}

.right-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.left-col-chat-name {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #dddddd;
    margin-bottom: 4px;
}

.left-col-chat-name span {
    font-size: 18px;
    font-weight: 500;
}

.left-col-chat-name:hover {
    background-color: #f3f3f3;
}

.left-col-chat-name span {
    font-size: 18px;
    font-weight: 500;
}

.left-col-chat-name--active,
.left-col-chat-name--active:hover {
    color: #474af0;
    background-color: #e6eeff;
}

.left-col__chat-name-notice {
    width: 14px;
    height: 14px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 4px;
    /* transform: translate(50%, -50%); */
}

.input-chat-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    border: 1px solid #474af0;
    background-color: #e6eeff;
    border-radius: 30px;
}

.input-chat-content-loading {
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    border-radius: 30px;
    position: absolute;
    top: 0;
    background-color: rgb(109, 133, 223, 0.5);
}

.input-chat-content-loading--show {
    display: flex;
}

.input-chat-content textarea {
    background-color: transparent;
    padding: 0;
    margin: 12px;
    border-right: 1px solid #aab0ef;
    border-top: unset;
    border-bottom: unset;
    border-left: unset;
    resize: none;
    width: 94%;
    outline: none !important;
}

.input-chat-content textarea:focus {
    border-right: 1px solid #aab0ef;
    border-top: unset;
    border-bottom: unset;
    border-left: unset;
}

.input-chat-content i {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #474af0;
    cursor: pointer;
}

.chat-content-area {
    flex-basis: 0px;
    flex-grow: 1;
    overflow: auto;
}

.chat-sent-area {
    position: relative;
}

.chat-row {
    display: flex;
    align-items: center;
    min-height: 30px;
    /* border: 1px solid; */
    margin: 4px;
    padding: 0 8px;
}

.chat-item-left,
.chat-item-right {
    max-width: 50%;
    align-self: center;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;

}

.chat-item-left span,
.chat-item-right span {
    overflow-wrap: anywhere;
}

.chat-item-left {
    background-color: #ffbb75;

}

.chat-item-right-image {
    width: 26px;
    height: auto;
    margin-left: 4px;
    margin-top: 8px;
    align-self: flex-start;
}

.chat-item-right {
    margin-left: auto;
    background-color: #1492ff;
    color: white;
}